@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    padding: 0;
    margin:0;
}
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #7f0a0ab5;
    color: #F6F6F6;
}
.titulo-destaque {
    color: #22D4FD; ;
}
.presentacion {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.presentacion__contenido__titulo{   
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
    
}
.presentacion__contenido__texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.presentacion__enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.presentacion__enlaces_subtitulo{    
    font-family: "Krona One", sans-serif; 
    font-size: 24px;
    font-weight: 400;
}
.presentacion__enlaces__link{
    display: flex;
    border: 4px solid #ffffff;
    width: 378px;
    text-align: center;
    font-weight: 1000;
    border-radius: 8px;
    font-size: 2em;
    padding: 21.5px 0;
    text-decoration: none;
    color: #1c1a74f1;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(180deg,#A5DD9B,#C5EBAA 50%, #F6F193);
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.presentacion__enlaces__link:hover{
    background-image: linear-gradient(180deg,#F6F193,#C5EBAA 50%, #A5DD9B);
    border: 6px solid #e92236b5;
    padding: 3%;
}
.presentacion__enlaces_subtitulo:hover{

    font-size: 42px;
    font-weight: 900;
}
.strongHablamos:hover{
    background-color: #dc143c;
    font-size: 30px;
    
}