h1 {
    padding: 0;
    border: 15;
    margin: 0;

}


p {
    padding: 10px solid;
    border:  1px solid rgb(0, 0, 0);
    margin: 5px solid red; 
}


body{
    background-color:rgba(65, 64, 96, 0.737);
    color: rgb(255, 255, 255);
}

.copaAmerica{
    color: blue;
    height: 100vh;
}

.copaAmerica1{
    color: red;
}

button{
    color: rgb(247, 255, 9);
}